@model IEnumerable<MojaBanka.Models.Transakcija>

@{
    ViewBag.Title = "Transakcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista transakcija</h2>

<h3>
    @Html.ActionLink("Nova transakcija", "Create")
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_racun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos_transakcije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis_transakcije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_transakcije)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_racun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos_transakcije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis_transakcije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_transakcije)
        </td>
        <td>
            @Html.ActionLink("Edit?", "Edit", new { id = item.Id_transakcija }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.Id_transakcija }) |
            @Html.ActionLink("Izbriši", "Delete", new { id = item.Id_transakcija })
        </td>
    </tr>
}

</table>
