@model MojaBanka.Models.Klijent
@using MojaBanka.Models
@{
    ViewBag.Title = "Klijenti";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool prvi_racun = true;
}

<h2>Klijent @Html.DisplayFor(model => model.Ime_klijent) @Html.DisplayFor(model => model.Prezime_klijent)</h2>

<div>
    <h4>Podaci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oib_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oib_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_klijent)
        </dd>

    </dl>
</div>

<table class="table">
    @foreach (Racun rac in ViewBag.racuni)
    {
        if (prvi_racun)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(x => rac.Id_racun)
                </th>
                <th>
                    @Html.DisplayNameFor(x => rac.Stanje_racun)
                </th>
                <th></th>
            </tr>
            prvi_racun = false;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rac.Id_racun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rac.Stanje_racun)
            </td>
            <td>
                @Html.ActionLink("Ažuriraj", "Edit", "Racuni", new { id = rac.Id_racun }, null) |
                @Html.ActionLink("Detalji", "Details", "Racuni", new { id = rac.Id_racun }, null) |
                @Html.ActionLink("Izbriši", "Delete", "Racuni", new { id = rac.Id_racun }, null)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.Id_klijent }) |
    @Html.ActionLink("Natrag na listu", "Index")
</p>
