@model MojaBanka.Models.Kredit
@using MojaBanka.Models

@{
    ViewBag.Title = "Krediti";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Klijent klijent = ViewBag.Klijent;
    Racun racun = ViewBag.Racun;
}

<h2>Izbriši kredit</h2>

<h4>Jeste li sigurni da želite obrisati kredit @Html.DisplayFor(model => model.Id_kredit)?</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_racun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_racun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iznos_kredita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iznos_kredita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kreditna_stopa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kreditna_stopa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rok_otplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rok_otplate)
        </dd>

        <dt>
            Ukupno za otplatiti
        </dt>

        <dd>
            @((Model.Iznos_kredita + Model.Iznos_kredita * Model.Kreditna_stopa * 0.01).ToString())
        </dd>
    </dl>

    <hr />
    <h4>Podaci računa i vlasnika</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => racun.Stanje_racun)
        </dt>

        <dd>
            @Html.DisplayFor(model => racun.Stanje_racun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => klijent.Oib_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => klijent.Oib_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => klijent.Ime_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => klijent.Ime_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => klijent.Prezime_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => klijent.Prezime_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => klijent.Adresa_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => klijent.Adresa_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => klijent.Email_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => klijent.Email_klijent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => klijent.Datum_klijent)
        </dt>

        <dd>
            @Html.DisplayFor(model => klijent.Datum_klijent)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-outline-danger" />
            @Html.ActionLink("Natrag na listu", "Index", null, new { @class = "btn btn-outline-primary" })
        </div>
    }
</div>
